@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 30, 30, 30;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  width: 100%;
  overflow-x: hidden;
}
.text_en {
  font-family: var(--font-en) ;
}

.text_ar {
  font-family: var(--font-ar);
}
.bbb{
  background: radial-gradient(circle at 20% 297%, #fdf497 0%, #fdf497 6%, #fd5949 45%,#d6249f 60%,#285AEB 110%);
  background-size: 110%;
}

.bbb:hover{
  background-size: 130%;
}
/* width */
.menu::-webkit-scrollbar {
  width: 2px;
}

/* Track */
.menu::-webkit-scrollbar-track {
  background:transparent;
}

/* Handle */
.menu::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.menu::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.dot{
  position: relative;
  width: fit-content;
}
.dot::before, .dot::after{
  content: '';
  position: absolute;
  top: 10px;
  right: -15px;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background-color: red;
}